node_modules
dist
dist-ssr

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
logs

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

.vscode
.idea
.DS_Store
*.local

Dockerfile
.dockerignore
docker-compose*.yml

README.md
Cozie wireframes
cozie-wireframes.html
